.user-details-container {
    width: 100%;
    padding: 0.25rem;
}

/* .user-details-container table {
    width: 100%;
    background-color: rgb(243 244 246);
    text-align: center;
    border-radius: 0.5rem;
}

.user-details-container table, th, td {
    border-collapse: collapse;
}

.user-details-container th, td {
    padding: 0.5rem;
}

.user-details-container tr:nth-of-type(odd) {
    background-color: rgb(156 163 175);
}

.user-details-container tr:nth-of-type(even) {
    background-color: rgb(209 213 219);
} */
