.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    gap: 1rem;
    height: 4rem;
}

.header-title {
    flex-grow: 1;
    font-weight: 600;
    font-size: 1.5rem;
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid black;
    border-radius: 50%;
    font-weight: bold;
    background-color: white;
    color: black;
    height: 2rem;
    width: 2rem;
}

.logout-button {
    width: 100%;
    max-width: 6rem;
    color: white;
    border: none;
    background-color: var(--cyan-400);
    border-radius: 0.25rem;
    padding: 0.5rem;
}